.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 5vw;
  background: var(--color-white);
  box-shadow: 0px 4px 32px 0px #0000000a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.4s ease-in-out;
  overflow: visible;
  width: 100%;
}

.navbar-logo-container {
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.nav-items-container {
  display: flex;
  gap: 2vw;
  height: 100%;
}
.nav-item {
  position: relative;
  padding: 1.5vw 0.5vw;
  height: 100%;
  font-weight: 600;
  font-size: 1.3vw;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}
/* underline pseudo-element */
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; /* was top: 0 before, use bottom for underlining */
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* show on hover */
.nav-item:hover::after {
  transform: scaleX(1);
}
.nav-item:hover {
  color: var(--color-primary);
  background: #3d3d3d05;
}

/* active nav item styling */
.active-nav-item {
  background: #3d3d3d05;
  color: var(--color-primary);
}

/* show the underline persistently for active item */
.active-nav-item::after {
  transform: scaleX(1);
}

.mobile-nav-menu-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 60px;
  left: 0;
  background: #00000080;
  transform: scaleX(0);
  backdrop-filter: blur(6px);
}
.mobile-nav-items-container {
  position: absolute;
  top: 0;
  left: -1px;
  width: 70%;
  background: var(--color-white);
  box-shadow: 0.57px 2.83px 7.93px 0px #4b00811f;
  border-radius: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
}
.mobile-nav-item {
  opacity: 0;
  transform: translateX(-30px);
  padding: 4vw 6vw;
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-transform: uppercase;
  transition: color 0.3s ease;
  cursor: pointer;
}
.mobile-nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; /* was top: 0 before, use bottom for underlining */
  height: 100%;
  width: 4px;
  background-color: var(--color-white);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.mobile-nav-item:hover::after {
  transform: scaleX(1);
}
.active-mobile-nav-item::after {
  transform: scaleX(1);
}
.mobile-nav-item:hover {
  color: var(--color-white);
  background: #3d3d3d05;
}
/* STYLE for smaller DISPLAY */
@media (max-width: 768px) {
  .desktop-only-display {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-only-display {
    display: none;
  }

  .navbar {
    border: 1px solid #1e62ac4d;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    background: var(--color-white);

    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
  }
  .navbar-logo-container {
    width: 150px;
    height: 60px;
  }

  .navbar-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .navbar-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .nav-items-container {
    display: flex;
    gap: 2vw;
    height: 100%;
  }
  .nav-item {
    position: relative;
    padding: 1.2vw 0.5vw;
    height: 100%;
    font-weight: 600;
    font-size: 1vw;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .contact-item {
    position: relative;
    padding: 1.2vw 0.5vw;
    height: 100%;
    font-weight: 600;
    font-size: 1vw;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .contact-item:hover {
    color: var(--color-primary);
  }
  /* underline pseudo-element */
  .nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0; /* was top: 0 before, use bottom for underlining */
    width: 100%;
    height: 3px;
    background-color: var(--color-warning);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  /* show on hover */
  .nav-item:hover::after {
    transform: scaleX(1);
  }
  .nav-item:hover {
    color: var(--color-primary);
  }

  /* active nav item styling */
  .active-nav-item {
    background: #3d3d3d05;
    color: var(--color-primary);
  }

  /* show the underline persistently for active item */
  .active-nav-item::after {
    transform: scaleX(1);
  }

  .nav-contact-container {
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid var(--color-black); */
    gap: 0.5vw;
  }
  .call-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6vw;
    background: var(--color-black);
    border-radius: 100%;
  }
}

/* md: ≥768px */
@media (min-width: 768px) {
}

/* lg: ≥1024px */
@media (min-width: 1024px) {
}

/* xl: ≥1280px */
@media (min-width: 1280px) {
}

/* 2xl: ≥1536px */
@media (min-width: 1536px) {
}
