.form-container {
  padding: 5vw 10vw;
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .form-container {
    padding: 5vw 0;
    flex-direction: column-reverse;
    gap: 5vw;
  }
}
