.categories-section {
  background: var(--color-bg-surface);
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 1vw;
  position: relative;
  z-index: 10;
  width: 100vw;
}

/* ================= Card ================= */
.category-card {
  position: relative;
  padding: 1vw;
  background: white;
  border-radius: 14px;
  /* border: 1px solid var(--color-border-default); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.category-card:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  transform: translateY(-4px);
}

/* ================= Image ================= */
.category-image {
  width: 54px;
  height: 54px;
  object-fit: contain;
}

/* ================= Title ================= */
.category-title-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.category-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-primary);
  transition: color 0.25s ease;
}

.category-card:hover .category-title {
  color: var(--color-primary);
}

/* ================= Icon Animation ================= */
.category-expand-icon {
  display: block;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.category-card:hover .category-expand-icon {
  transform: rotate(180deg) translateY(-2px);
  color: var(--color-primary);
}

/* ================= Dropdown ================= */
.category-options-container {
  position: absolute;
  top: 100%;
  /* margin-top: 12px; */
  background: white;
  border-radius: 12px;
  border: 1px solid var(--color-border-default);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  min-width: 160px;
  padding: 8px 0;

  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;
  transform: translateY(10px) scale(0.98);
  transition: all 0.25s ease;
  z-index: 5000;
}

.category-card:hover .category-options-container {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0) scale(1);
}

/* ================= Options ================= */
.category-option {
  padding: 10px 16px;
  font-size: 13px;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: all 0.2s ease;
}

.category-option:hover {
  background: var(--color-bg-input);
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .categories-section {
    justify-content: start;
    overflow-x: scroll;
    overflow-y: hidden;
    /* flex-wrap: nowrap; */
  }
  .category-card {
    width: 200px !important;
    padding: 12px 12px;
    /* display: grid; */
    /* grid-template-columns: repeat(8, 1fr); */
    gap: 12px;
    /* grid-template-columns: auto 1fr; */
    /* gap: 5px;
    justify-content: space-between;
    border: 1px solid green; */
  }
  .category-title {
    font-size: 12px;
    text-wrap: nowrap;
  }
}
